.text-orange {
  color: rgb(4 196 255);
}


.navbar-toggler{
border: none;
}
.btn-outline{
  border: none!important;
}
.resume-download{
  color: rgb(4 196 255)!important;
  border: 2px solid rgb(4 196 255);
  background-image: -webkit-linear-gradient(30deg, rgb(19, 30, 37) 50%, transparent 50%);
  background-image: linear-gradient(30deg, rgb(19, 30, 37) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.resume-download:hover{
   /* transform: scale(1.05); */
   background-position: 100%;
   color: #fff!important;
  border: 2px solid rgb(182, 237, 255)!important;
}
.navbar-toggler:focus{
  --bs-navbar-toggler-focus-width: 0.0rem !important;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
 
}
.social-icons>abbr>a:hover{
  transform: scale(1.5);
}

.navbar-toggler-icon-menu{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
  background-image: var(--bs-navbar-toggler-icon-bg);
}
.navbar-toggler-icon-cancel{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(9, 176, 227)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7 7l16 16M23 7L7 23'/%3e%3c/svg%3e")!important;
  background-image: var(--bs-navbar-toggler-icon-bg);
 
}
.text-cust{
  color: white;
}
.bg-dark {
  background: radial-gradient(
    circle at -17.9% 15.2%,
    rgba(109, 232, 232, 0.509) 0%,
    rgba(56, 147, 222, 0.459) 0.9%,
    rgba(237, 126, 23, 0.231) 0.9%,
    rgba(79, 247, 247, 0.687) 0.8%,
    rgb(19, 30, 37) 15.5%,
    rgb(19, 30, 37) 66%
  );
  border-bottom: 1px solid rgb(4 196 255);
}
.scroll-list > img:hover {
  filter: grayscale(0%);
  transition: ease-in 5ms;
}
.nav-link {
  /* color: rgb(236, 115, 16); */
  color: rgb(4 196 255);
  cursor: pointer;
}
/* .nav-link:hover{
  color: rgb(218, 246, 255)!important;
} */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white!important;
}
.nav-link:hover {
  color: rgb(98, 237, 255);
}
@media screen and (min-width: 1025px) {
  .homesection{
    background: radial-gradient(circle at 95.5% 55.7%, rgb(1, 183, 255) 18%, rgb(27, 197, 239) 30%, rgb(76, 193, 255) 18%, rgb(77, 217, 255) 46%, rgb(19, 30, 37) 46%,rgb(19, 30, 37) 66%);
  }
   .scroller{
    background-color: #fff;
   }
  .pad-b-1{
    padding-bottom: 0.35rem;
  }
  .navbar-brand{
    padding-left:3rem;
  }
  #skills{
    padding-top: 2rem;
  }
  #about{
    padding-top: 5rem!important;
  }
  #work{
    padding-top: 2rem;
  }
  /* Add your styles here */
  .scroller {
    white-space: nowrap !important;
    margin-top: 3rem!important;
   
  }
  .scroll-list {
    display: inline-block;
    animation: 20s slider linear infinite;
  }
  @keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .scroll-list > img {
    height: 4rem;
    /* background-color: rgb(255, 249, 240); */
    /* filter: grayscale(100%); */
    margin: 0.3rem 2rem;
  }

}

/* Styles for tablets like iPad with a width between 768px and 1023px */
@media screen and (min-width: 76px) and (max-width: 1024px) {
  /* Add your styles here */
  .skill-title{
    margin-bottom: 2rem;
  }
  .scroller {
    background-color: white;
  }
  #skills{
    padding-top: 2rem;
  }
  #about{
    padding-top: 5rem!important;
  }
  #work{
    padding-top: 2rem;
  }
  .scroll-list {
    display: inline-block;
    animation: 20s slider linear infinite;
  }
  @keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .scroll-list > img {
    height: 5rem;
    background-color: white;
    /* filter: grayscale(100%); */
    margin: 0 2rem;
  }
  .scroll-list > img:hover {
    filter: grayscale(0%);
  }
  .about-section {
    padding-top: 1rem;
  }
}

/* Styles for mobile devices with a maximum width of 767px */
@media screen and (max-width: 767px) {
  .navbar-brand{
    padding-left:0.3rem;
  }
  #skills{
    padding-top: 2rem;
  }
  #about{
    padding-top: 5rem!important;
  }
  #work{
    padding-top: 2rem;
  }
  .scroller{
    background-color: white;
  }
  .scroll-list {
    display: inline-block;
    animation: 20s slider linear infinite;
  }
  @keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .skill-title{
    margin-bottom: 2rem;
  }
  .scroll-list > img {
    height: 4rem;
    background-color: white;
    /* filter: grayscale(100%); */
    margin: 0 0.8rem;
  }
  .scroll-list > img:hover {
    filter: grayscale(0%);
  }
}
