
@media screen and (min-width: 1025px) {
  /* Add your styles here */
  .heroImg{
    width:30rem;
   }
   .intro{
    padding-top: 6rem;
    margin: auto;
   }
}

/* Styles for tablets like iPad with a width between 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Add your styles here */
  .heroImg{
    width:24rem;
   }
   .intro{
    padding-top: 4rem;
    margin: auto;
   }
   .center{
    text-align: center;
  }
}

/* Styles for mobile devices with a maximum width of 767px */
@media screen and (max-width: 767px) {
  .d-flex{
    flex-direction: column;
  }
  .center{
    text-align: center;
  }
  .heroImg{
    width:17rem;
   }
   .intro{
    padding-top: 1rem;
    margin: auto;
   }
}